body {
    margin: 0;
    display: flex;
}

.image-container {
    position: relative;
    width: 40%;
    height: 100vh;
    color: white;
}

.background-img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: fill;
    z-index: -1;
}

.odin-title-logo {
    position: absolute;
    top: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    opacity: 0.6;
    height: 12%;
    width: 100%;
}

.logo {
    height: 100%;
    width: auto;
}

.odin-title {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
}

.footer {
    position: absolute;
    bottom: 2%;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}

a {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: rgb(218, 215, 215);
    height: 33%;
    padding: 40px 60px;
}

p {
    font-size: 2rem;
    font-weight: 800;
}