body {
    margin: 0;
    display: flex;
}

/* left hand size */
.image-container {
    position: relative;
    width: 40%;
    height: 100vh;
    color: white;
}

.background-img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: fill;
    z-index: -1;
}

.odin-title-logo {
    position: absolute;
    top: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    opacity: 0.6;
    height: 12%;
    width: 100%;
}

.logo {
    height: 100%;
    width: auto;
}

.odin-title {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
}

.footer {
    position: absolute;
    bottom: 2%;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}

a {
    color: white;
}

/* right hand side */
.container {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: rgb(218, 215, 215);
    height: 35%;
    padding: 2rem 3rem;
}

p {
    font-size: 2rem;
    font-weight: 800;
}

/* form setup */
.form {
    padding: 1rem 3rem;
    height: 30%;
}

.form-field label {
    display: block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: lightslategrey;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

input {
    appearance: none;
    width: 30ch;
}

/* hide the little arrows after number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#password,
#confirm-pwd {
    border-color: rgba(243, 22, 22, 0.952);
}